# Streamlit secrets (NEVER UPLOAD THESE)
.streamlit/*
!.streamlit/secrets.toml.example
secrets.toml

# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc

# OS-specific files
.DS_Store
Thumbs.db
 
 
